/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NAV 1
#define SYM 2
#define FUN 3

/ {
    keymap {
        compatible = "zmk,keymap";

    behaviors {¨

        hml: homerow_mod_left {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        quick-tap-ms = <200>;
        require-prior-idle-ms = <125>;
        hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
        bindings = <&kp>, <&kp>;
        };

        hmr: homerow_mod_right {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        quick-tap-ms = <200>;
        require-prior-idle-ms = <125>;
        hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;
        bindings = <&kp>, <&kp>;
        };
    };

        default_layer {
            bindings = <
&kp Q          &kp W  &kp F    &kp P          &kp B           &kp J      &kp L              &kp U       &kp Y  &kp APOS
&hml LSHIFT A  &kp R  &kp S    &kp T          &kp G           &kp M      &kp N              &kp E       &kp I  &kp O
&kp Z          &kp X  &kp C    &kp D          &kp V           &kp K      &kp H              &none       &none  &kp UNDERSCORE
               &kp TAB  &lt NAV SPACE  &lt FUN ESCAPE  &kp ENTER  &lt SYM BACKSPACE  &kp DELETE
            >;
        };

        nav_layer {
            bindings = <
&kp N1        &kp N2        &kp N3          &kp N4            &kp N5        &kp N6    &kp N7     &kp N8     &kp N9     &kp N0
&sk LEFT_GUI  &sk LEFT_ALT  &sk LEFT_SHIFT  &sk LEFT_CONTROL  &kp CAPSLOCK  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp ENTER
&kp LC(Z)     &kp LC(X)     &kp LC(C)       &kp LC(V)         &trans        &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
                            &trans          &trans            &trans        &trans    &trans     &trans
            >;
        };

        sym_layer {
            bindings = <
&kp EXCL   &kp LT     &kp GT        &kp DLLR   &kp PRCNT  &kp AMPS   &kp SINGLE_QUOTE   &kp LBKT  &kp RBKT  &kp QMARK
&kp HASH   &kp MINUS  &kp PLUS      &kp EQUAL  &kp GRAVE  &kp PIPE   &kp COLON          &kp LPAR  &kp RPAR  &kp SEMI
&kp CARET  &kp SLASH  &kp ASTERISK  &kp BSLH   &trans     &kp TILDE  &kp DOUBLE_QUOTES  &kp LBRC  &kp RBRC  &kp AT
                      &trans        &trans     &trans     &trans     &trans             &trans
            >;
        };

        fun_layer {
            bindings = <
&trans        &kp K_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &out OUT_TOG  &trans  &kp F1  &kp F2   &kp F3   &kp F4
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &kp F5  &kp F6   &kp F7   &kp F8
&bt BT_CLR    &kp C_PREV    &kp C_PP      &kp C_NEXT    &trans        &trans  &kp F9  &kp F10  &kp F11  &kp F12
                            &trans        &trans        &trans        &trans  &trans  &trans
            >;
        };
    };
};
