/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define NAV 1
#define SYM 2
#define NUM 3
#define FUN 4

/ {
    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
            bindings = <&kp>, <&kp>;

            // Exclude likely same-hand rolls so home-row mods stay taps during normal typing.

            hold-trigger-key-positions = <5 6 8 7 9 18 17 16 15 25 26 27 28 29 19 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
            bindings = <&kp>, <&kp>;

            // Right-hand mirror of the same-roll exclusions above.

            hold-trigger-key-positions = <0 1 2 3 4 14 13 12 11 10 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        lht: layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <200>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        coma: coma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMA";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        underscore: underscore_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDERSCORE";
            bindings = <&kp UNDERSCORE>, <&kp MINUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        htg: hold_tap_generic {
            compatible = "zmk,behavior-hold-tap";
            label = "HTG";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <200>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_accent_acute {
            bindings = <&kp LC(SQT)>;
            key-positions = <6 7>;
            require-prior-idle-ms = <200>;
        };

        combo_accent_grave {
            bindings = <&kp LC(GRAVE)>;
            key-positions = <7 8>;
            require-prior-idle-ms = <200>;
        };

        combo_accent_dots {
            bindings = <&kp LC(COLON)>;
            key-positions = <6 8>;
            require-prior-idle-ms = <200>;
        };

        combo_accent_round {
            bindings = <&kp LC(AT)>;
            key-positions = <6 7 8>;
            require-prior-idle-ms = <200>;
        };

        combo_tab_left {
            bindings = <&kp LC(PAGE_UP)>;
            key-positions = <26 27>;
            layers = <NAV>;
        };

        combo_tab_right {
            bindings = <&kp LC(PAGE_DOWN)>;
            key-positions = <27 28>;
            layers = <NAV>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <17 18>;
        };

        combo_sk_lshift {
            bindings = <&sk LSHFT>;
            key-positions = <12 13>;
        };

        combo_sk_rshift {
            bindings = <&sk RSHFT>;
            key-positions = <16 17>;
        };

        combo_toggle_numpad {
            bindings = <&tog NUM>;
            key-positions = <26 27 28>;
        };
    };

    macros {
        previous_folder: previous_folder {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp DOT &kp BSLH>;
            label = "PREVIOUS_FOLDER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q        &kp W        &kp F            &kp P         &kp B             &kp J               &kp L          &kp U           &kp Y        &kp APOS
  &hml LGUI A  &hml LALT R  &hml LSHIFT S    &hml LCTRL T  &kp G             &kp M               &hmr RCTRL N   &hmr RSHIFT E   &hmr RALT I  &hmr RGUI O
  &kp Z        &kp X        &kp C            &kp D         &kp V             &lht 5 K            &lht 5 H       &kp COMMA       &kp PERIOD   &kp UNDERSCORE
                            &lht FUN ESCAPE  &lht NUM TAB  &lht NAV SPACE    &lht SYM BACKSPACE  &lht 4 DELETE  &lht FUN ENTER
            >;
        };

        nav_layer {
            bindings = <
  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5          &kp N6    &kp N7     &kp N8     &kp N9     &kp N0
  &kp LGUI   &kp LALT   &kp LSHFT  &kp LCTRL  &caps_word      &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp PERIOD
  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp CAPSLOCK    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
                        &trans     &trans     &trans          &trans    &trans     &trans
            >;
        };

        sym_layer {
            bindings = <
  &kp EXCL       &kp AT     &kp HASH      &kp DLLR       &kp PRCNT           &kp AMPS   &kp DOUBLE_QUOTES  &kp LBKT  &kp RBKT  &kp QMARK
  &kp LESS_THAN  &kp MINUS  &kp PLUS      &kp EQUAL      &kp GREATER_THAN    &kp PIPE   &kp COLON          &kp LPAR  &kp RPAR  &kp SEMICOLON
  &kp CARET      &kp SLASH  &kp ASTERISK  &kp BACKSLASH  &kp GRAVE           &kp TILDE  &kp SINGLE_QUOTE   &kp LBRC  &kp RBRC  &kp UNDER
                            &trans        &trans         &trans              &trans     &trans             &trans
            >;
        };

        numpad_layer {
            bindings = <
  &trans  &trans        &trans        &trans     &kp KP_NUMLOCK    &trans        &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans
  &trans  &kp KP_MINUS  &kp KP_PLUS   &kp EQUAL  &trans            &kp KP_COMMA  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_DOT
  &trans  &kp SLASH     &kp ASTERISK  &trans     &trans            &trans        &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans
                        &trans        &trans     &trans            &trans        &kp KP_N0  &trans
            >;
        };

        fun_layer {
            bindings = <
  &trans      &kp C_MUTE  &kp C_VOL_DN          &kp C_VOL_UP          &bt BT_SEL 2    &kp PSCRN  &kp F7  &kp F8          &kp F9  &kp F12
  &trans      &trans      &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &bt BT_SEL 1    &trans     &kp F4  &kp F5          &kp F6  &kp F11
  &bt BT_CLR  &kp C_PP    &kp C_PREV            &kp C_NEXT            &bt BT_SEL 0    &trans     &kp F1  &kp F2          &kp F3  &kp F10
                          &trans                &trans                &trans          &trans     &trans  &studio_unlock
            >;
        };

        mouse {
            bindings = <
  &trans  &trans          &trans          &trans           &trans       &trans     &trans  &trans  &trans  &trans
  &trans  &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &trans       &trans     &trans  &trans  &trans  &trans
  &trans  &trans          &mmv MOVE_DOWN  &trans           &trans       &trans     &trans  &trans  &trans  &trans
                          &trans          &mkp MCLK        &mkp LCLK    &mkp RCLK  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
